<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bn.biteNest.recipe.model.dao.RecipeCategory2Mapper">

    <!-- 카테고리 2 이름으로 ID 조회 -->
    <select id="selectCategory2CDByName" parameterType="String" resultType="Integer">
        SELECT 
        		CATEGORY2_CD
          FROM 
        		RECIPE_CATEGORY2_TB
         WHERE
         		CATEGORY2_NM = #{category2NM}
    </select>

    <!-- 카테고리 2 ID로 이름 조회 -->
    <select id="selectCategory2NameByCD" parameterType="int" resultType="String">
        SELECT 
        		CATEGORY2_NM
          FROM 
          		RECIPE_CATEGORY2_TB
         WHERE 
         		CATEGORY2_CD = #{category2CD}
    </select>

</mapper>